name: News Card Update
on:
  # 计划任务：每天国际标准时间 0点 (北京时间早上8点) 运行
  schedule: [{cron: "0 0 * * *"}]
  # 允许你手动点按钮立刻运行测试
  workflow_dispatch:
  # 每当你修改代码推送到主分支时也运行一次
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # 使用我们在第二步配置的 Token
          token: ${{ secrets.METRICS_TOKEN }}

          # 生成的图片名字
          filename: bbc-news.svg

          # 这里的 user 必须填你自己的 GitHub 用户名！
          user: vnamtzvm

          # 基础设置：为了保持清爽，我们要禁用默认的代码统计功能
          base: "" 

          # === 核心配置：RSS 新闻源 ===
          plugin_rss: yes
          # 下面这个链接可以换成你喜欢的 (BBC/CNN/纽约时报)
          plugin_rss_source: https://feeds.bbci.co.uk/zhongwen/simp/rss.xml
          plugin_rss_limit: 10       # 显示10条新闻
